{% extends 'base.html.twig' %}

{% block body %}

    <h1>Register</h1>
    <form method="post">
        Email:* <br />
        <input type="text" name="user[email]" /><br />
        Password:* <br />
        <input type="password" name="user[password]" /><br />
        Full Name:* <br />
        <input type="text" name="user[fullName]" /><br />

        <input type="submit" value="Register!">

        <h3>
            <a href="{{ path('security_login') }}">Login</a>
        </h3>
    </form>

{% endblock %}